*.ctxt
*.class
.DS_Store
lab1/.DS_Store
lab1/gumball-java-pattern/package.bluej
lab1/gumball-java-typical/package.bluej
lab2/.DS_Store
lab3/sequence_diagram.JPG
lab7/.DS_Store
lab7/source-code/package.bluej
lab8/.DS_Store
lab8/inputmask/.DS_Store
lab9/.DS_Store
lab9/Lambda/.DS_Store
lab9/Lambda/observer/src/.DS_Store
lab9/Patterns/.DS_Store
*.bluej
.DS_Store
.DS_Store
lab9/Lambda/observer/.DS_Store
